<ng-container *ngIf="finished then countdownFinished; else countdown"></ng-container>

<ng-template #countdownFinished>
  <h2 class="target-date">{{ targetDate | date: 'long' }}</h2>
</ng-template>
<ng-template #countdown>
  <h2 class="target-date">{{ targetDate | date: 'long' }}</h2>
  <ul class="countdown-num-container">
    @if (!shouldDoFinalCountdown || minutesLeft > 0 || hoursLeft > 0 || daysLeft > 0) {
    <li [ngStyle]="{'visibility': (daysLeft > 0) ? 'visible': 'hidden'}">
      <span>{{daysLeft}}</span>
      <span>days</span>
    </li>
    <li [ngStyle]="{'visibility': (daysLeft > 0 || hoursLeft > 0) ? 'visible': 'hidden'}">
      <span>{{hoursLeft}}</span>
      <span>hours</span>
    </li>
    <li [ngStyle]="{'visibility': (daysLeft > 0 ||hoursLeft > 0 || minutesLeft > 0) ? 'visible': 'hidden'}">
      <span>{{minutesLeft}}</span>
      <span>minutes</span>
    </li>
    <li>
      <span>{{secondsLeft}}</span>
      <span>seconds</span>
    </li>
    } @else {
    <li class="final-countdown-container">
      <span class="final-countdown">{{secondsLeft}}</span>
      <span class="final-countdown-unit">seconds</span>
    </li>
    }
  </ul>
</ng-template>
