.target-date {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
}

ul.countdown-num-container {
  padding: 0;
  display: flex;
  justify-content: space-between;

  li {
    margin-inline: 1rem;
    text-align: center;
    display: inline-block;
    align-items: flex-end;

    span {
      display: block;
    }

    // Number
    :first-child {
      font-size: 6rem;
      line-height: 6rem;
    }

    // Unit
    :last-child {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}
